{% extends 'base.html.twig' %}

{% block title %}Formulaire Candidat {{candidate.fullname}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            {% if  result[0].oralreview is  empty %}
                <h1>Ajouter les notes de {{candidate.fullname}}</h1>
            {% else %}
                <h1>Éditer les notes de {{candidate.fullname}}</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <form class="form" action="{{path('one_candidate', {nameC : candidate.fullname, nameQ : quiz.name})}}" method="post">
                        {% for criteria in quiz.criterias %}
                            <div class="form-group">
                                <label for="criteria[{{criteria.id}}]">{{criteria.name}}</label>
                                <input
                                    type="number"
                                    name="criteria[{{criteria.id}}]"
                                    step="1" min="0"
                                    max="1"
                                    class="form-control criteria{{criteria.id}}"
                                    id="criteria{{criteria.id}}"
                                    placeholder="Enter une note entre 0 et 1"
                                >
                            </div>
                        {% endfor %}
                        <input type="hidden" name="token" value="{{ csrf_token('addCriteria') }}"/>
                        <input class="btn btn-secondary" type="submit" name="submit" value="Ajouter les notes" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
