{% extends 'base.html.twig' %}

{% block title %}Formulaire Candidat {{candidate.fullname}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            {% if  result[0].oralreview is  empty %}
                <h1>Ajouter les notes de {{candidate.fullname}}</h1>
            {% else %}
                <h1>Éditer les notes de {{candidate.fullname}}</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <form class="form" action="{{path('one_candidate', {id : candidate.id, idQ: quiz.id})}}" method="post">
                        <div class="form-group">
                            <label for="criteria1">Critère 1 </label>
                            <input type="number" name="criteria1" step="1" min="0" max="1" class="form-control" id="criteria1"  placeholder="Enter une note entre 0 et 1">
                        </div>
                        <div class="form-group">
                            <label for="criteria2">Critère 2</label>
                            <input type="number" name="criteria2" step="1" min="0" max="1" class="form-control" id="criteria2"  placeholder="Enter une note entre 0 et 1">
                        </div>
                        <div class="form-group">
                            <label for="criteria3">Critère 3</label>
                            <input type="number" name="criteria3" step="1" min="0" max="1" class="form-control" id="criteria3"  placeholder="Enter une note entre 0 et 1">
                        </div>
                        <div class="form-group">
                            <label for="criteria4">Critère 4</label>
                            <input type="number" name="criteria4" step="1" min="0" max="1" class="form-control" id="criteria4"  placeholder="Enter une note entre 0 et 1">
                        </div>
                        <input type="hidden" name="token" value="{{ csrf_token('addCriteria') }}"/>
                        <input class="btn btn-secondary" type="submit" name="submit" value="Ajouter les notes" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
