{% extends 'base.html.twig' %}

{% block title %}Récapitulatif {% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-3">Récapitulatif</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ candidate.teacher.organismLogo }}" alt="Logo alaji" width="50%"  class="mt-5 ml-5">
            </div>
            <div class="col-md-6">
                <div class="table-responsive mt-5">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th colspan="2">Information éxaminateur</th>
                                <th colspan="2">Information candidat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Nom de l'éxaminateur</th>
                                <th>Organisme</th>
                                <th>Nom du candidat</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>{{ candidate.teacher.fullname }}</td>
                                <td>{{ candidate.teacher.organismName }}</td>
                                <td>{{ candidate.fullname }}</td>
                                <td>{{ candidate.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="table-responsive mt-5">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th colspan="5">Résultats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Critères</th>
                        <th>Test</th>
                        <th>Oral</th>
                        <th>Moyenne critère</th>
                        <th>Acquis</th>
                    </tr>
                    {% for result in candidate.results %}
                        <tr>
                            <th>{{ result.criteria.name }}</th>
                            <td>{{ result.testreview }}</td>
                            <td>{{ result.oralreview }}</td>
                            <td>{{ result.average}}</td>
                            <td>{{ result.acquis}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pdf">
            <form class="form" action="" method="post">
                <input type="submit" name="pdf" value="Convertir en pdf" class="btn btn-info">
            </form>
        </div>
    </div>
{% endblock %}
